<ng-container *ngIf="qrcode">
  <img [src]="qrcode" width="25%" height="25%" />
</ng-container>

<ng-container *ngIf="login != null">
  <span *ngIf="login">登录成功</span>
  <span *ngIf="!login">登录失败</span>
</ng-container>

<ng-container *ngIf="keys!=null && users!=null">
  <table border="1">
    <tr>
      <th>序号</th>
      <th *ngFor="let k of keys">{{k}}</th>
    </tr>
    <tr *ngFor="let u of users;let idx=index">
      <td>{{idx+1}}</td>
      <td *ngFor="let k of keys">
        <ng-container [ngSwitch]="k">
          <ng-container *ngSwitchCase="'memberList'">
            <p *ngFor="let m of u[k]; let x = index"> {{m['UserName']}}</p>
          </ng-container>

          <ng-container *ngSwitchCase="'headImgUrl'">
            <img [src]="'https://wx.qq.com' + u[k]" />
          </ng-container>

          <ng-container *ngSwitchDefault>
            <span>{{u[k]}}</span>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </table>
</ng-container>
